# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: CC0-1.0

version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    labels:
    - 3. to review
    - dependencies

  - package-ecosystem: npm
    target-branch: "main"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 10
    versioning-strategy: "increase"
    groups:
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"

  - package-ecosystem: npm
    target-branch: "stable1"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 10
    versioning-strategy: "increase"
    groups:
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
    ignore:
      - dependency-name: "*"
        # ignore all major updates
        update-types: ["version-update:semver-major"]
