# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

.vitest*/
js/
css/
dist/
img/
__screenshots__/
__fixtures__/*/js
coverage/
node_modules/
nextcloud-vite-config*.tgz
